﻿@import '~nativescript-theme-core/css/core.light.css';

Page {
    background-color: white;
    font-size: 17;
    margin: 10;
}
TextField {
    padding: 10;
}
DropDown {
    padding: 10;
}
.user-title {
    font-size: 24px;
    text-align: center;
}
Button {
    margin: 10;
    padding: 10;
}
.list {
    padding: 20px;
}
.title {
    padding: 30px;
}
.info {
    text-align: center;
}
.info2 {
    text-align: center;
    color: red;
}
ListView {
    margin: 0;
    padding: 0;
}